<ul id="header">
  <a href="/" class="ml-3">
    <li>Home</li>
  </a>
  {{#if isUserLogged}}
  {{#unless isVerified}}
  <a href="/verification">
    <li>Verify</li>
  </a>
  {{else}}
  <a href="/tags">
    <li>Tags</li>
  </a>
  {{/unless}}
  <a href="/logout">
    <li class="float-right mr-3">Logout</li>
  </a>

  <li id="header-username" class="float-right mr-1">{{username}}</li>

  {{else}}
  <a href="/signin">
    <li class="float-right mr-3">Sign-in</li>
  </a>
  <a href="/signup">
    <li class="float-right">Sign-up</li>
  </a>
  {{/if}}
</ul>