<div class="container">
  <div class="row justify-content-center">
    <h2 class="mt-5">About</h2>
  </div>
  <div class="row justify-content-center">
    <p id="about-game-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet aut rem ut nostrum,
      totam labore assumenda
      rerum quo! Saepe, recusandae debitis. Cum doloremque, odio nobis dolorum voluptatibus molestias error aspernatur.
    </p>
  </div>

</div>