<div class="container mt-5">
  <div class="row justify-content-around">
    {{#each tags}}
    <div class="col-sm-4 col-md-3 m-1">
      <button id={{this}} class="tag-button">#{{this}}</a>
    </div>
    {{/each}}
  </div>

  <div id="tagged-images" class="row justify-content-center mt-5">
  </div>
</div>