<div id="main-ui" class="container mt-5">
  <div class="row justify-content-around">
    {{#each tags}}
    <div class="col-sm-4 col-md-3 m-1">
      <button id={{this}} class="tag-button">#{{this}}</a>
    </div>
    {{/each}}
  </div>

  <div id="tagged-files" class="row justify-content-center mt-5">
  </div>
</div>

<div id="overlay" class="hide">

  <div class="m-3 modal-links">
    <div class="row justify-content-center m-3">
      <button id="modal-close-link" class="danger-button">Close</button>
    </div>
  </div>
  <img id="modal-file" class="img-thumbnail mx-auto my-auto d-block" src="" alt="selected file" />

  <div class="m-3 modal-links">
    <div class="row justify-content-center m-3">
      <a id="modal-file-download-link" href="" target="_blank">Download
        link</a>
    </div>


    <div class="row justify-content-center">

      <button id="modal-delete-file" class="danger-button">Delete file<img src="./assets/delete-icon.svg" alt="">
      </button>

    </div>


  </div>

</div>