<div class="container">
  <div class="row justify-content-center mt-5">
    <h1>Upload file</h1>
  </div>
  <div class="row justify-content-center mt-5">

    <form id="upload-form" method="POST" action="/upload" enctype="multipart/form-data">
      <div class="form-group">
        <label for="uploadFile">Choose your file</label>
        <input type="file" class="form-control-file mb-2" id="uploadFile" accept="image/jpeg" name="uploadFile" />
        <button type="submit" class="btn btn-success">Upload File</button>
      </div>
    </form>

  </div>

</div>