:root {
  --main-color: #2c7873;

  --secondary-color: #6fb98f;

  --overlay-bg: rgba(0, 68, 69, 0.8);

  --third-color: #004445;

  /* text */
  --text-color: #e0f2f1;
}

a,
a:hover {
  text-decoration: none;
}

* {
  font-family: 'Cantarell', sans-serif;
  font-family: 'Hind Madurai', sans-serif;

  color: var(--text-color);
}

body {
  background-color: var(--main-color);
}

.page-title {
  text-align: center;
}

/* signup page  */
#signup-form,
#signin-form,
#verification-form {
  width: 400px;
  border: 2px var(--secondary-color) solid;
  border-radius: 5px;
  padding: 20px;
}

#about-paragraph {
  line-height: 28px;
  text-align: justify;
  width: 400px;
}

/* shake animation */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-0.5deg);
  }
  20% {
    transform: rotate(0.5deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-0.5deg);
  }
  80% {
    transform: rotate(0.5deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}

.stop-shake-on-hover {
  animation: shake 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.stop-shake-on-hover:hover {
  animation: none;
}

#header {
  height: 44px;

  margin: 0;
  padding: 0;

  background-color: var(--secondary-color);
  list-style: none;
}

#header li {
  display: inline-block;
  padding: 10px 20px;

  transition-duration: 0.1s;
}
#header li:hover {
  background-color: var(--main-color);
}

.float-left {
  float: left;
}
.float-rigt {
  float: right;
}

/* showing username on header */
#header-username {
  font-weight: bold;
  background-color: var(--main-color);
}

.alert button span {
  color: rgb(48, 48, 48);
}

.warning-paragraph {
  padding: 5px;
  border-radius: 5px;
  /* background-color: var(--secondary-color); */
  border: 2px var(--secondary-color) solid;
  max-width: 400px;
  font-size: 0.9rem;
}
.warning-paragraph a {
  text-decoration: underline;
  color: var(--text-color);
}

.tag-button {
  text-align: center;

  width: 100%;

  text-decoration: none;

  background-color: var(--third-color);

  padding: 10px;
  font-size: 1.2rem;

  border: 1px var(--secondary-color) solid;
  border-radius: 5px;

  transition-duration: 0.1s;
}
.tag-button:hover {
  background-color: var(--secondary-color);
}

.tag-selected {
  text-align: center;

  width: 100%;

  text-decoration: none;

  background-color: var(--secondary-color);

  padding: 10px;
  font-size: 1.2rem;

  border: 1px var(--third-color) solid;
  border-radius: 5px;
}

.files-div {
  text-align: center;
}

.files-div img {
  border: 1px var(--third-color) solid;
}

.files-div .tag {
  background-color: var(--secondary-color);
  padding: 3px;

  border: 1px var(--third-color) solid;
  border-radius: 5px;

  display: inline-block;

  font-size: 0.8rem;
}

/* used in tags.handlebars */
#overlay {
  z-index: 1;
  display: flex;
  position: fixed;

  flex-direction: column;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: auto;
  background-color: var(--overlay-bg);
}

#overlay img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
  visibility: hidden;
  position: fixed;

  /* remove the scroll while showing the modal */
  height: 0;
}

.blurred {
  filter: blur(5px);
}

.files-div img {
  transition-duration: 0.2s;
}
.files-div img:hover {
  box-shadow: 5px 5px var(--third-color);
  cursor: pointer;
}

.modal-links a {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: underline;
}
.modal-links p {
  text-align: center;
}

/* #modal-file {
  max-height: 90%;
} */
